/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-main: 410;
  --font-weight-heading: 715;
  --font-size-logo: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --bg-gradient: 
    repeating-linear-gradient(to right,#d3d3d3 0px,#d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom,#d3d3d3 0px,#d3d3d3 2px,transparent 2px,transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  
  --container-size: clamp(375px, 100%, 700px);
  --padding-header: clamp(122px, calc(112.769px + 2.462vw), 130px) clamp(16px, calc(-106.885px + 32.769vw), 122.5px);
      --padding-block-header: clamp(122px, calc(112.712px + 2.477vw), 130px); /*!!!!!!!!!!!!!!*/
  
  
   --label-outline-color: #fff;

  --accent-color: #000;
  --light-color: #fff; /*переименовать на цвет текста кнопки*/

  --heart-contour-color: black;
  --animation-fill-color: #FF0000;
  --hover-fill-color: black;

}